.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form input,
.form button {
  margin-bottom: 1rem;
}

.form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form button {
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form button:hover {
  background-color: #0051bb;
}

.toggleButton {
  cursor: pointer;
  color: #0070f3;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 1rem;
}

.toggleButton:hover {
  color: #0051bb;
}
